body {
  padding: 0;
  font-size: 14px;
  font-family: "Dark-mode", sans-serif;
}

/* DA FARE 
/* NBNBNB: SISTEMARE PRIMO PIANO GIALLO QUANDO VA EXTRALARGE
/* NBNBB: SISTEMARE tutti I PADDING E I MARGIN IN GENERALE, DOVUTO DALL'AVER TOLTO PADDING DEL BODY,
immagine del first article, padding generali e responsive in tutto il sito (video anche)
/* levare --weight-black e padding 10 10 10 10 senza unita di misura

/* FARE CHE SE PREMO CERCA VIENE IL MENU A TENDINA (forse)

/* FARE UN'ALTRA SEZIONE (1fatta), o mettere codice uguale da sopra
*/

/* -------------------------------------------------------------------------------- */
/*HEADER*/
/* -------------------------------------------------------------------------------- */
.header {
  margin-top: 80px;
}

/* TOP HEADER */
/* Box sx: hamburger menu */
.paddingHeaderRow {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  /* METTERE LINEA NERA SOTTO E FARLO RESPONSIVE */
}
.menuIcon {
  padding-top: 14px;
  position: relative;
  float: right;
  cursor: pointer;
}
.menuIcon .navIcon {
  background-color: black;
  display: block;
  height: 1.5px;
  width: 23px;
  position: relative;
}
.menuIcon .navIcon::before,
.menuIcon .navIcon::after {
  background-color: black;
  content: "";
  /* display: block; */
  height: 100%;
  width: 100%;
  position: absolute;
}
.menuIcon .navIcon::before {
  top: 8px;
}
.menuIcon .navIcon::after {
  top: -8px;
}

/* Box center: logo */
.headerMainLogo {
  width: 180px;
}
.headerMainLogo2 {
  display: none;
  height: 50px;
  width: 50px;
}
.changeImg .headerMainLogo {
  display: none;
}
.changeImg .headerMainLogo2 {
  display: block;
}

/* Box dx: search icon and user */
.column3 {
  align-items: center;
}
.iconContainer2 {
  padding-left: 20px;
}
.iconDx {
  height: 25px;
  width: 25px;
}
@media (min-width: 768px) {
  /* body {
    padding-left: 50px;
    padding-right: 50px;
  } */
  .menuIcon {
    padding-top: 28px;
  }
  .headerMainLogo {
    width: 385px;
  }
}
@media (max-width: 768px) {
  .iconContainer1 .iconDx {
    display: none;
  }
}

/* per js, aggiunge bordo sotto al topheader quando scrollo */
.addBorder {
  border-bottom: 2px solid black;
}

/* NAVBAR */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 1.8px solid black;
  padding-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}
.toHide {
  text-decoration: none;
  color: black;
}
.toHide a:hover {
  color: black;
}
@media (max-width: 768px) {
  .navBar {
    border-top: 1.8px solid black;
    padding-top: 10px;
  }
}
.hotBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.hotBar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  .hotBar > span {
    display: block;
    margin: 0 10px 0 0;
    white-space: nowrap;
  }
}
@media (max-width: 1024px) {
  .hotBar span {
    display: none;
  }
}
.hotBar img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.navItems {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  font-weight: 700;
}
.navItems a {
  font-weight: var(--weight-black);
  margin: 0 20px 0 0;
  white-space: nowrap;
}
.navItems a,
a:hover,
a:visited,
a:active,
a:link {
  color: black;
  text-decoration: none;
}
.hotUpdate {
  text-align: right;
  white-space: nowrap;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .hotUpdate {
    display: none;
  }
}
@media (min-width: 768px) {
  .hotUpdate {
    display: block;
  }
}

/* per il javascript, per far si che la navbar vada via quando scrollo */
.nvbRemove {
  display: none;
}

/* -------------------------------------------------------------------------------- */
/*WHITE BANNER*/
/* -------------------------------------------------------------------------------- */
#banner {
  height: 60px;
  width: 100%;
  background-color: white;
}

/* -------------------------------------------------------------------------------- */
/*MAIN CONTENT*/
/* -------------------------------------------------------------------------------- */
.mainContent {
  padding-bottom: 20px;
  /* margin-bottom: 60px; */
  height: 600px;
}
.bottomColor {
  position: absolute;
  left: 0;
  right: 0;
  height: 400px;
  background-color: #1c1c1c;
  z-index: 0;
  margin-top: 200px;
  display: block;
}
.content {
  background-image: url(Images/School.jpg);
  min-height: 85vh;
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 1000;
}
.colorOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content.container-fluid {
  overflow: hidden;
}
mark {
  background-color: #1c1c1c !important;
  padding: 0 !important;
  font-weight: bold;
}
.content h1 {
  position: absolute;
  font-family: "Dark-mode", sans-serif;
  text-shadow: 0 0 2px #000;
  max-width: 800px;
  padding-right: 1.5rem;
  padding-left: 2.5rem;
  transform: translate(-10%, -30%);
  line-height: 1.5 !important;
}
.author {
  width: 20px;
  height: 20px;
}
.authorrr {
  position: absolute;
  font-family: "Dark-mode", sans-serif;
  text-shadow: 0 0 2px #000;
  padding-right: 1.5rem;
  padding-left: 2.5rem;
  transform: translate(-43%, 350%);
  line-height: 1.5 !important;
}
.yellow {
  color: yellow;
}
@media (max-width: 900px) {
  .authorrr {
    transform: translate(-35%, 450%);
  }
}
@media (max-width: 768px) {
  /* per non allontare troppo il firstArticle che c'è dopo */
  .mainContent {
    height: 250px;
    margin-bottom: -15px;
  }
  .content {
    min-height: 40vh;
  }
  .content h1 {
    font-size: 30px;
    transform: translate(0, -50%);
  }
  .authorrr {
    transform: translate(0, 200%);
  }
  .bottomColor {
    display: none;
  }
}
@media (max-width: 576px) {
  .mainContent {
    margin-bottom: -150px;
  }
  .content {
    min-height: 30vh;
  }
  .content h1 {
    font-size: 20px;
    transform: translate(-10%, -50%);
    max-width: 300px;
  }
  .authorrr {
    transform: translate(-16%, 250%);
  }
}

/* -------------------------------------------------------------------------------- */
/*WHITE BANNER*/
/* -------------------------------------------------------------------------------- */
#banner2 {
  height: 30px;
  width: 100%;
  background-color: white;
}

/* -------------------------------------------------------------------------------- */
/*IN PRIMO PIANO*/
/* -------------------------------------------------------------------------------- */
.first {
  padding-top: 10px;
  background-color: #ededed;
}
.yellowBack {
  /* MOBILE FIRST */
  background-color: #eae522;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.yellowBack h2 {
  padding: 15px;
}
.noisyBack {
  background-image: url(Images/yellowNoisy.png);
  background-position: 50% 50%;
}
@media (max-width: 576px) {
  .yellowBack {
    margin-top: 170px;
  }
}
@media (min-width: 768px) {
  .rif {
    margin-top: 80px;
  }
  .yellowBack {
    position: absolute;
    z-index: -100;
    left: 0;
    right: 0;
    width: calc(100% - 300px);
    height: calc(100% - 300px);
    max-height: 460px;
    padding: 0;
    transform: translate(0, -30%);
  }
}
@media (min-width: 1200px) {
  .yellowBack {
    margin-left: 5vh;
    width: calc(100% - 400px);
    height: calc(100% - 290px);
  }
  .first {
    margin-left: 50px !important;
  }
}
.texttt a {
  text-decoration: none;
  color: black;
}
.texttt a:hover {
  color: black;
}
.imageee img {
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  .firstStripe11,
  .firstStripe12,
  .firstStripe21,
  .firstStripe22,
  .secondStripe1,
  .secondStripe2,
  .thirdStripe11,
  .thirdStripe12,
  .thirdStripe21,
  .thirdStripe22 {
    display: flex;
  }
  .texttt {
    /* per mandare il testo a sx e l'immagine a dx nel div */
    order: -1;
  }
}
@media (max-width: 768px) {
  .main21 {
    display: flex;
  }
  .texttt {
    order: -1;
  }
}

/* -------------------------------------------------------------------------------- */
/* EMERGENZA IMMIGRAZIONE & SCENARI POLITICI */
/* -------------------------------------------------------------------------------- */
.second {
  margin-left: 0px !important;
}
.emergenzaImmigrazione h2 {
  margin-top: 30px;
}
.segui {
  width: 80px;
  height: 29px;
}
.textSecond {
  text-decoration: none;
  color: black;
}
.textSecond a:hover {
  color: black;
}
.imageSecond img {
  width: 100%;
  height: 100%;
}
.leggiTutti {
  text-decoration: none;
  color: #1c1c1c;
  display: flex;
  justify-content: end;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 229px;
}
.leggiTutti a:hover {
  color: black;
}
.leggiTutti a {
  font-size: 16px;
  background-color: yellow;
  font-weight: bold;
  padding: 10 10 10 10;
}
@media (max-width: 768px) {
  .second {
    margin-left: 0px !important;
  }
  .emergenzaImmigrazione h2 {
    margin-left: 8px;
  }
  .scenariPolitici h2 {
    margin-left: 8px;
  }
  .secondBanner,
  .third1,
  .third2,
  .third3 {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 15px;
    margin-left: 2px !important;
  }
  .textSecond {
    order: -1;
  }
  .leggiTutti {
    justify-content: center;
    padding-top: 16px;
    padding-right: 0px;
  }
}
@media (min-width: 992px) {
  .third1,
  .third2,
  .third3 {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 15px;
  }
}

/* -------------------------------------------------------------------------------- */
/*SEZIONE DI ALTRO TIPO (SCENARI ECONOMICI E ATTENTI AL PORTAFOGLIO)*/
/* -------------------------------------------------------------------------------- */
.contSez {
  margin-left: 0px !important;
}
.leggiTuttiSez {
  text-decoration: none;
  color: #1c1c1c;
  display: flex;
  justify-content: end;
  padding-top: 16px;
  padding-bottom: 16px;
}
.leggiTuttiSez a:hover {
  color: black;
}
.leggiTuttiSez a {
  font-size: 16px;
  background-color: yellow;
  font-weight: bold;
  padding: 10 10 10 10;
}
@media (max-width: 768px) {
  .sez11,
  .sez12,
  .sez13,
  .sez21,
  .sez22,
  .sez23 {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 15px;
  }
  .leggiTuttiSez {
    justify-content: center;
    padding-top: 16px;
    padding-right: 0px;
  }
}
@media (min-width: 992px) {
  .sez11,
  .sez12,
  .sez13,
  .sez21,
  .sez22,
  .sez23 {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 15px;
  }
}

/* -------------------------------------------------------------------------------- */
/*SEZIONE DI ALTRO TIPO + COLONNA EDITORIALI*/
/* -------------------------------------------------------------------------------- */
.contenitoreee {
  margin-left: 7px;
}
.descEdit {
  font-size: 20px;
  font-weight: 600;
}
.immagineEditore {
  width: 60px;
  height: 60px;
}
.timingEditore {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}
.autoreEditore {
  text-decoration: underline;
  text-decoration-color: aqua;
  text-decoration-thickness: 4px;
}
@media (max-width: 786px) {
  .descEdit {
    font-size: 24px;
  }
}

/* -------------------------------------------------------------------------------- */
/*VIDEO*/
/* -------------------------------------------------------------------------------- */
.videoSection {
  background-color: #1c1c1c;
  padding: 6px 0;
}
.videoTitle {
  font-size: clamp(35px, 3.5vw, 35px);
  margin: 0 0 0.8em 0;
  line-height: 1.3;
  color: white;
  font-weight: 300;
}
.ytVideo {
  aspect-ratio: auto 320 / 180;
}
.videoMainCard {
  border: none;
  background-color: #1c1c1c !important;
}
.videoInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  align-content: normal;
  justify-content: start;
}
.infoTitle {
  text-decoration: underline;
  padding: 2px 0;
  font-weight: 600;
  color: white;
  font-size: 12px;
  margin: 0 6px 0 0;
}
.autoreVideo {
  color: white;
  text-decoration: underline;
}
.mainVideo {
  width: 100%;
  height: 100%;
}
.infoTime {
  text-decoration: none;
  padding: 2px 0;
  font-weight: 400;
  color: #919191;
  font-size: 12px;
  margin: 0 6px 0 0;
}
.myCardTitle {
  color: white;
  font-size: 31px;
  min-height: 2.8em;
  font-weight: 600;
  width: 100%;
  margin: 6px 0 0 0;
}
.horizCard {
  display: flex;
  flex-direction: row !important;
  border: none;
  background-color: #1c1c1c !important;
}
.horizVideoCardBody {
  padding-left: 10px;
  padding-bottom: 6px;
  margin-top: 10px;
}
.horizTitle {
  font-size: 1.5em;
}

/* -------------------------------------------------------------------------------- */
/*FOOTER*/
/* -------------------------------------------------------------------------------- */
.mainFooter {
  border-top: black solid;
  padding: 20px;
  border-bottom: black solid;
  margin-top: 30px;
}
.myul {
  padding: 0;
  list-style-type: none;
}
.footerListTitle {
  display: block;
  font-size: 17px; /* messa ad occhio, non è quella del sito */
  margin: 0 0 20px 0;
  text-transform: uppercase;
  text-align: initial;
}
.footerTitleLink,
.footerTitleLink:link,
.footerTitleLink:visited {
  color: black;
}
.footerTitleLink:hover {
  color: black;
}
.footerElement,
.footerElement:link,
.footerElement:visited {
  font-weight: 700;
  display: block;
  margin: 10px 0;
  font-size: 14px;
}
.footerElement:hover {
  color: #1c1c1c;
}
.secondFooter {
  padding: 20px;
  border-bottom: black solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  align-items: flex-start;
  justify-content: space-between;
}
.bottom {
  margin: 0;
  padding: 20px;
  color: grey;
}
@media (max-width: 768px) {
  .myFootCol {
    text-align: center;
  }
  .footerListTitle {
    text-align: center;
  }
  .secondFooter {
    padding: 20px;
    border-bottom: black solid;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .bottom {
    padding: 10px;
  }
}
